<div class="panel panel-default">
    <div class="panel-heading" id="education">
        <h4>Education</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5>Goldman School of Public Policy, <b>UC Berkeley</b>, United States</h5>
        <h6>Master of Public Policy, 2017 to 2019</h6>
        <hr/>
        <h5>School of Law, <b>Tsinghua University</b>, China</h5>
        <h6>Bachelor of Laws, 2013 to 2017; switched major from Department of Electrical Engineering</h6>
        <hr/>
        <h5>College of Law, <b>Australian National University</b>, Australia</h5>
        <h6>Non-Degree Exchange Student, 2015</h6>
    </div>
</div>
