<div class="panel panel-default">
    <div class="panel-heading" id="education">
        <h4>Education</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5><b>Northwestern University Pritzker School of Law</b>, United States</h5>
        <h6>Juris Doctor Candidate, 2022</h6>
        <hr/>
        <h5><b>UC Berkeley Goldman School of Public Policy</b>, United States</h5>
        <h6>Master of Public Policy, 2019</h6>
        <hr/>
        <h5><b>Tsinghua University</b>, China</h5>
        <h6>Bachelor of Laws, 2017; switched major from Department of Electrical Engineering</h6>
        <hr/>
        <h5><b>Australian National University</b>, Australia</h5>
        <h6>Non-Degree Exchange Student, 2015</h6>
    </div>
</div>
