<div class="panel panel-default">
    <div class="panel-heading" id="experience">
        <h4>Work Experience</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5><b>UN Women</b>, China Representative Office</h5>
        <h6>Full-time Research Assistant, Sept. 2016 till now</h6>
        <hr/>
        <h5 style="line-height: 120%;"><b>Food and Agriculture Organization of the UN</b>, China Representative Office</h5>
        <h6>Intern, Mar. 2016 to Aug. 2016</h6>
        <hr/>
        <h5 style="line-height: 120%;"><b>Beijing Qianqian Law Firm</b>, formerly Beijing Zhongze Women’s Legal Aid Center</h5>
        <h6>Intern, July 2016</h6>
        <hr/>
        <h5><b>Simmons & Simmons</b>, Beijing Representative Office</h5>
        <h6>Winter Intern, Dec. 2015 to Feb. 2016</h6>
    </div>
</div>