<div class="panel panel-default">
    <img src="{{ site.baseurl }}/public/img/avatar.jpg" class="img-responsive" style="width: 100%;" alt="Chenchen Zhang">
    <div class="panel-body">

        <h4>Chenchen Zhang (Cecilia)</h4>
        <p style="font-size: 14px">
            MPP Candidate, UC Berkeley <br/> LLB, Tsinghua University <br/>
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" >
        <h6 style="line-height: 140%;">I am an MPP candidate with a law degree interested in technology policy, human rights and anti-discrimination.</h6>
        <h6 style="line-height: 140%;">I have a record in working and communicating effectively in different type of organizations: a private law firm, United Nations agencies, PRC government agency, non-profit organizations. I am a detail-oriented, perceptive, and diligent quick learner capable of multi-tasking.</h6>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h6>
            <b>Email: </b><a href="mailto:chenchen.z@berkeley.edu" target="_top">chenchen.z@berkeley.edu</a>
        </h6>
        <h6>
            <b>LinkedIn: </b> <a href="https://cn.linkedin.com/in/chenchenz" target="_blank">Chenchen Zhang</a>
        </h6>
        <!-- <h6>
            <a href="https://cn.linkedin.com/in/chenchenz" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
            <a href="https://github.com/ceciliazhang" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
        </h6> -->
    </div>
</div>
