<div class="panel panel-default">
    <img src="{{ site.baseurl }}/public/img/Avatar.jpg" class="img-responsive" style="width: 100%;" alt="Chenchen Zhang">
    <div class="panel-body">

        <h4>Chenchen Zhang</h4>
        <p style="font-size: 14px">
            &#127902 &#183 &#129378 &#183 &#128105;&#127995;&#8205;&#9878;&#65039 &#183 &#127870 &#183 &#x1F4D6
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" >
        <h6 style="line-height: 140%;">I am a Juris Doctor Candidate at Northwestern University Pritzker School of Law. My current academic interests include legal tech, empirical legal research, and IP law. </h6>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h6>
            <b>Email: cz[at]nlaw.northwestern.edu</b>
        </h6>
        <!-- <h6>
            <a href="https://cn.linkedin.com/in/chenchenz" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
            <a href="https://github.com/ceciliazhang" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
        </h6> -->
    </div>
</div>
