<div class="panel panel-default">
    <img src="{{ site.baseurl }}/public/img/Avatar.jpg" class="img-responsive" style="width: 100%;" alt="Chenchen Zhang">
    <div class="panel-body">

        <h4>Chenchen Zhang (Cecilia)</h4>
        <p style="font-size: 14px">
            MPP Candidate, UC Berkeley <br/> LLB, Tsinghua University <br/>
        </p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body" >
        <h6 style="line-height: 140%;">I am an MPP candidate with a law degree and strong quantitative analysis capacities. My current interest is utilizing statistical research methods to measure the success/failure of legislation and government policies, especially those that touch upon social justice and public interest. I am also interested in the intersection of law and technology, especially the regulatory framework of emerging technologies, as well as how technology and be used to make legal practices more efficient. </h6>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <h6>
            <b>Email: </b><a href="mailto:chenchen.z@outlook.com" target="_top">chenchen.z@outlook.com</a>
        </h6>
        <h6>
            <b>LinkedIn: </b> <a href="https://cn.linkedin.com/in/chenchenz" target="_blank">Chenchen Zhang</a>
        </h6>
        <!-- <h6>
            <a href="https://cn.linkedin.com/in/chenchenz" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/linkedin.min.svg" height="24px" width="24px"></a>
            <a href="https://github.com/ceciliazhang" target="_blank"><img src="{{ site.baseurl }}/public/img/icon/github.min.svg" height="24px" width="24px"></a>
        </h6> -->
    </div>
</div>
