<div class="panel panel-default">
    <div class="panel-heading" id="publications">
        <h4>Publications</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5>
            <a href="https://bppj.berkeley.edu/2017/09/15/will-you-take-a-driverless-car-in-2019/">
                <b>Will You Take a Driverless Car in 2019?</b>
            </a>
        </h5>
        <h6>Chenchen Zhang.</h6>
        <h6>In <i>Berkeley Public Policy Journal</i>, Sep 15, 2017.</h6>
        <hr/>
        <h5>
            <a href="{{ site.baseurl }}/blog/artificial-intelligence">
                <b>Artificial Intelligence: The Terminator or Change Maker of Legal Industry?</b>
            </a>
            |
            <a href="http://oversea.cnki.net/kcms/detail/detail.aspx?recid=&FileName=DSZZ201610008&DbName=CJFDTEMP&DbCode=CJFD&uid=WEEvREcwSlJHSldRa1FhcEE0L01SODdFb0lDTjhPcUZaN1ByTjhmamExZz0=$9A4hF_YAuvQ5obgVAqNKPCYcEjKensW4ggI8Fm4gTkoUKaID8j8gFw!!">
                [Chinese Version]
            </a>
        </h5>
        <h6>Chenchen Zhang. </h6>
        <h6>In <i>Dushu</i>, Oct. 2016, pp. 38-40. (CSSCI Journal)</h6>
        <!-- <h5><b>Guiding Case No. 35: CGCP Annotations</b></h5>
        <h6>Mei Gechlik, Yanzhou Chen, and Chenchen Zhang.</h6>
        <h6><i>Stanford Law School China Guiding Cases Project: Guiding Cases in Perspective</i>, in press.</h6> -->
    </div>
</div>
