<div class="panel panel-default">
    <div class="panel-heading" id="research and other academic activities">
        <h4>Research</h4>
    </div>
    <div class="panel-body" style="padding-top: 5px;">
        <h5><b>China Guiding Cases Project</b>, Stanford Law School</h5>
        <h6>Editor, Mar. 2016 till now</h6>
        <hr/>
        <h5 style="line-height: 120%;"><b>International Commmission of Jurists</b>, Australian Branch</h5>
        <h6>Researcher, July 2015 to Sept. 2015</h6>
         <hr/>
        <h5 style="line-height: 120%;"><b>Tsinghua China Law Review</b></h5>
        <h6>Editor, Sept. 2015 to June 2016</h6>
        <hr/>
        <h5 style="line-height: 120%;"><b>Tsinghua University</b></h5>
        <h6>Research Assistant to Associate Professor Han Liu, Feb. 2015 to Jan. 2017<br/>Teaching Assistant of Comparative Constitution for 2015 & 2017 Spring Semester</h6>
    </div>
</div>
